* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-card {
    width: 500px;
    padding: 20px;
    background-color: #FAACA8;
    background-image: linear-gradient(225deg, #FAACA8 0%, #DDD6F3 50%, #e4b7f1 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    color: #333;
  }

  .profile-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    background-color: #05298b;
  }
  
  .profile-card img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .profile-card h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-card p {
    margin-bottom: 10px;
    padding: .3rem;
    line-height: 1.5;
    letter-spacing: 3px;
  }
  
  .profile-card a {
    text-decoration: underline;
    letter-spacing: 3px;
    color: #1e90ff;
    font-size: 19px;
    margin: 5px;
    display: inline-block;
  }
  
  .profile-card a:hover {
    color: black;
    text-decoration: underline;
  }
  
  .profile-card #time {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .profile-card {
      width: 90%;
    }
  
    .profile-card img {
      width: 140px;
      height: 140px;
    }

    .profile-card a {
        letter-spacing: normal;
    }

    .profile-card p {
        padding: .1rem;
        letter-spacing: normal;
    }

    .profile-card h2 {
        font-size: 25px;
    }
  }
  